{% extends "base.html.twig" %}
{% block body %}

<div class="container mx-auto">
    
    <div class="flex justify-center text-center">
        {{ form_start(registrationForm) }}


            <div class="my-3 flex flex-col">
                <label class="mb-1" for="firstname-inscription">Prénom :</label>
                {{ form_widget(registrationForm.firstName, {'attr': {'class': 'border-solid border-2 border-black pl-2'}})}}
                {# <input class="border-solid border-2 border-black pl-2" name="firstname-inscription" id="firstname-inscription" required> #}
            </div>


            <div class="my-3 flex flex-col">
                <label class="mb-1" for="mail-inscription">E-mail :</label>
                {{ form_widget(registrationForm.email, {'attr': {'class': 'border-solid border-2 border-black pl-2'}}) }}
                {# <input type="email" class="border-solid border-2 border-black pl-2" name="description-inscription" id="mail-inscription" required> #}
            </div>


            <div class="my-3 flex flex-col">
                <label class="mb-1" for="password-inscription">Mot de passe :</label>
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'border-solid border-2 border-black pl-2'}})}}
                {# <input class="border-solid border-2 border-black pl-2" name="password-inscription" id="password-inscription" required> #}
            </div>


            <div class="mt-8">
                <input class="w-full bg-[color:var(--bg-button-color)] rounded-3xl py-3" type="submit" value="S'inscrire!">
            </div>

            {{ form_end(registrationForm) }}
            
    </div>
    
</div>

{% endblock %}